<html>
<head>
    <title>Informacion</title>
</head>
<body>
    
        <form action="~/Home/MiPerfil">
            <label>Nombre</label>
            <input type="text" name="Nombre" /><br />
            <label>Materia</label>
            <input type="text" name="Materia" /><br/>
            <label>Semestre</label>
            <input type="number" min="1" max="9" name="Semestre" /><br />
            <label>Periodo</label>
            <input type="text" name="Periodo" /><br />
            <input type="submit" value="Enviar datos" />
        </form>
   
</body>
</html>